.form {
    max-width: 300px;
    margin: 86px auto;
}
.error {
    color: red;
    font-size: 1rem;
}
.form__title {
  text-align: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #c9c9c9;
}


.wrap__passw {
  display: flex;
  align-items: center;
}

.imgShowPass {
  height: 34px;
}

.form-floating > .form-control {
  padding-top: 0.3rem;   
  padding-bottom: 0.3rem; 
  height: auto;  
}