<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mx-auto form p-4">
    <h3 class="form__title">{{ formTitle }}</h3>

    <div class="form-floating mb-3">
        <input type="email" class="form-control pt-5 fs-5" id="first_name" formControlName="first_name"
            placeholder="Tu nombre">
        <label for="first_name">Nombre</label>
        @if(checkControl('first_name','required')){
        <p class="error">El campo nombre es obligatorio.</p>
        }
    </div>

    <div class="form-floating mb-3">
        <input class="form-control pt-5 fs-5" type="text" id="last_name" formControlName="last_name"
            placeholder="Tu apellido" />
        <label for="last_name">Apellido</label>
        @if(checkControl('last_name','required')){
        <p class="error">El campo apellido es obligatorio.</p>
        }
    </div>

    <div class="form-floating mb-3">
        <input class="form-control pt-5 fs-5" type="text" id="email" formControlName="email"
            placeholder="tu.email@ejemplo.com" />
        <label for="email">Email</label>
        @if(checkControl('email','required')){
        <p class="error">El campo email es obligatorio.</p>
        }
        @if(checkControl('email', 'pattern')){
        <p class="error">El email tiene que ser valido</p>
        }
    </div>

    <div class="mb-3">
        @if (userForm.get('image')?.value) {
        <img [src]="userForm.get('image')?.value" class="img-fluid rounded-circle w-25 mt-2">
        }
    </div>
    <div class="form-floating mb-3">
        <input class="form-control pt-5 fs-5" type="text" id="image" formControlName="image"
            placeholder="URL de la imagen" />
        <label for="image">Imagen</label>
        @if(checkControl('email','required')){
        <p class="error">El campo imagen es obligatorio.</p>
        }
    </div>

    <div class="form-floating mb-3">
        <input class="form-control pt-5 fs-5" type="text" id="username" formControlName="username"
            placeholder="Elige un alias" />
        <label for="username">Alias</label>
        @if(checkControl('username','passwordValidator')){
        <p class="error">El campo alias es obligatorio.</p>
        }
    </div>

    <div class="form-floating mb-3">
        <div class="wrap__passw">
            <input class="form-control pt-5 fs-5" [type]="typeInputPassword" id="password" formControlName="password"
                placeholder="Ingresa tu contraseña" />
            <img (click)="showPassword()" [src]="srcShowPassword" />
        </div>
        <label for="password">Contraseña</label>
        @if(checkControl('password','required')){
        <p class="error">El campo contraseña es obligatorio.</p>
        } @if(checkControl('password','passwordValidator')){
        <p class="error">La longitud de al menos 8 caracteres.</p>
        <p class="error">Al menos una letra mayúscula.</p>
        <p class="error">Al menos una letra minúscula.</p>
        <p class="error">Al menos un número.</p>
        <p class="error">Al menos un carácter especial.</p>
        }
    </div>

    <input type="submit" [disabled]="!userForm.valid" [value]="btnSave"
        class="btn btn-primary mt-2 btn-lg w-100 mt-4" />
</form>