.userView {
    margin-top: 72px;
}
.card{
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 64px;
}
.card .col-3 {
    font-size: 1.3rem; /* O cualquier otro valor */
}
.text__title{
    font-weight: 700;
    margin-left: 16px;
}

.btn-wrap {
    display: flex;
    flex-direction: row; 
    gap: 8px;
    justify-content: space-around;
    margin: 8px;
}
