.card{
    min-width: 300px;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.text__title{
    font-weight: 700;
    margin-left: 16px;
}

.btn-wrap {
    display: flex;
    flex-direction: row; 
    gap: 8px;
    justify-content: space-around;
    margin: 8px;

}
