
<section class="card w-100 p-3">
    <div class="card-body">
        <h2 class="card-title mb-4">
            ¿Desea eliminar al usuario
            <span class="nameDelete">
                {{ userData.firstName }} {{ userData.lastName }}
            </span>
            ?
        </h2>
        <nav class="btn__wrap d-flex gap-4 justify-content-end" aria-label="Acciones de eliminación">
            <button (click)="closeModal()" type="button" class="btn btn-secondary btn-lg">Cancelar</button>
            <button (click)="deleteUser()" type="button" class="btn btn-danger btn-lg">Eliminar</button>
        </nav>
    </div>
</section>